*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #111;
  width: 85%;
  height: auto;
  margin: auto; }

.navigation {
  width: 100%;
  display: flex; }

.navigation__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none; }
  .navigation__links a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #111; }
  .navigation__links a:nth-child(1) {
    margin-right: 3rem; }
  .navigation__links .fab {
    list-style-type: none;
    color: #111; }
  .navigation__links li:hover {
    color: #4a4ff2;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    curser: pointer; }

.header__box {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  margin-top: 0; }
  .header__box-primary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    width: 50rem; }
  .header__box-secondary {
    width: 62rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .header__box-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 63.5rem;
    margin-top: 2.8rem; }

.header__table-box {
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 3.5rem; }
.header__table-td {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.3rem;
  padding: 1.6rem;
  mix-blend-mode: normal;
  opacity: 0.6;
  border-bottom: 0.1rem solid #979797; }

.bold {
  font-weight: 700;
  color: #111; }

.project__hero-image {
  width: 100%;
  display: flex;
  height: 76.6rem;
  justify-content: center;
  align-items: center; }

.text__container-paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  mix-blend-mode: normal;
  opacity: 0.8; }

.image__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57.2rem; }

.image__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 40rem; }

.footer {
  width: 100%;
  display: flex; }

.footer__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none; }
  .footer__links a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #111; }
  .footer__links a:nth-child(1) {
    margin-right: 3rem; }
  .footer__links .fab {
    list-style-type: none;
    color: #111; }
  .footer__links li:hover {
    color: #4a4ff2;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    curser: pointer; }

.social-links {
  width: fit-content;
  margin-left: 10%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #111;
  width: 85%;
  height: auto;
  margin: auto; }

.navigation {
  width: 100%;
  display: flex; }

.navigation__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none; }
  .navigation__links a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #111; }
  .navigation__links a:nth-child(1) {
    margin-right: 3rem; }
  .navigation__links .fab {
    list-style-type: none;
    color: #111; }
  .navigation__links li:hover {
    color: #4a4ff2;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    curser: pointer; }

.header__box {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  margin-top: 0; }
  .header__box-primary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    width: 47.5rem; }
  .header__box-secondary {
    width: 62rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .header__box-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 1.4rem;
    width: 44.5rem; }

.form__container {
  display: flex;
  flex-direction: column;
  width: 47.5rem;
  height: 29rem;
  justify-content: space-around; }
  .form__container-input {
    padding: 1.8rem;
    border: none;
    padding: 1.6rem;
    mix-blend-mode: normal;
    opacity: 0.6;
    border-bottom: 0.1rem solid #979797; }
    .form__container-input::placeholder {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2rem;
      color: #111;
      mix-blend-mode: normal;
      opacity: 0.6; }
  .form__container-btn {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #111;
    color: #fff;
    width: 12.5rem;
    height: 5rem;
    background-color: #4a4ff2;
    text-align: center;
    border: none;
    margin-top: 3rem; }
    .form__container-btn:hover {
      color: #4a4ff2;
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
      curser: pointer;
      color: #fff; }

.img-box {
  display: flex;
  align-items: center;
  height: 80rem; }

.img-map {
  width: 100%; }

.footer {
  width: 100%;
  display: flex; }

.footer__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none; }
  .footer__links a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #111; }
  .footer__links a:nth-child(1) {
    margin-right: 3rem; }
  .footer__links .fab {
    list-style-type: none;
    color: #111; }
  .footer__links li:hover {
    color: #4a4ff2;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    curser: pointer; }

.social-links {
  width: fit-content;
  margin-left: 10%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #111;
  width: 85%;
  height: auto;
  margin: auto; }

.navigation {
  width: 100%;
  display: flex; }

.navigation__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none; }
  .navigation__links a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #111; }
  .navigation__links a:nth-child(1) {
    margin-right: 3rem; }
  .navigation__links .fab {
    list-style-type: none;
    color: #111; }
  .navigation__links li:hover {
    color: #4a4ff2;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    curser: pointer; }

.header__tertiary {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.0423077rem; }
.header span {
  color: #4a4ff2; }

.header__box {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between; }
  .header__box-primary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    width: 63.5rem; }
  .header__box-text {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.3rem;
    mix-blend-mode: normal;
    opacity: 0.6;
    font-style: italic;
    width: 30rem;
    align-self: flex-end;
    justify-self: center; }
    .header__box-text::before {
      content: "";
      display: block;
      width: 3rem;
      border-bottom: 0.2rem solid rgba(17, 17, 17, 0.5);
      margin-bottom: 0.9rem; }

.gallery {
  height: 40rem; }

.sub__container {
  width: 100%;
  display: flex;
  height: 28rem;
  justify-content: space-between;
  align-items: center; }

.sub__header-primary {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  width: 63rem; }

.list__container {
  width: 100%;
  display: flex;
  width: 44rem;
  justify-content: space-around;
  align-content: space-evenly; }

.sub__list {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.3rem;
  list-style-type: none;
  width: 15rem; }
  .sub__list-media, .sub__list-design {
    mix-blend-mode: normal;
    opacity: 0.6; }
  .sub__list-li {
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 1rem; }

.grid__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  justify-content: space-between; }
  .grid__section-header {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.8rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: flex-end; }
  .grid__section-sub {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.3rem;
    font-weight: 700;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-end; }
  .grid__section-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #111;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: flex-end; }
  .grid__section-year {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #111;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: flex-end;
    align-self: flex-end; }
  .grid__section-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    mix-blend-mode: normal;
    opacity: 0.8;
    mix-blend-mode: normal;
    opacity: 0.6;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-bottom: 2rem; }

.mid--ruler {
  margin-top: 4rem;
  margin-bottom: 3rem; }

.footer {
  width: 100%;
  display: flex; }

.footer__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none; }
  .footer__links a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #111; }
  .footer__links a:nth-child(1) {
    margin-right: 3rem; }
  .footer__links .fab {
    list-style-type: none;
    color: #111; }
  .footer__links li:hover {
    color: #4a4ff2;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    curser: pointer; }

.social-links {
  width: fit-content;
  margin-left: 10%; }

/*# sourceMappingURL=index.css.map */
