// Image gallery Grid
@mixin img__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 20px;
  margin-top: 2rem;

  &__img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 8;
  }
  &__img2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
  }
  &__img3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 11;
  }
  &__img4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 16;
  }
  &__img5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 14;
  }
  &__img6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 18;
  }
  &__img7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    grid-row-end: 26;
  }
  &__img8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 14;
    grid-row-end: 26;
  }
  &__img9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 18;
    grid-row-end: 30;
  }
  &__img10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 24;
    grid-row-end: 34;
  }
  &__img11 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 23;
    grid-row-end: 34;
  }
  &__img12 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 27;
    grid-row-end: 34;
  }
}

// Award & Design Grid
@mixin grid {
  display: grid;
  grid-template-columns: 40% 15% 15% 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  justify-content: space-between;
}

@mixin grid__elements {
  @include grid;

  &-header {
    @include header__third;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: flex-end;
  }

  &-sub {
    @include sect__header;
    font-weight: $fontBold;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-end;
  }

  &-title {
    @include sect__title;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: flex-end;
  }

  &-year {
    @include sect__title;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: flex-end;
    align-self: flex-end;
  }

  &-text {
    @include paragraph;
    @include text__opacity;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-bottom: 2rem;
    align-self: flex-start;
  }
}
