@mixin universal {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@mixin body {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: $textBlack;
  width: 85%;
  height: auto;
  margin: auto;
}

@mixin nav__container {
  width: 100%;
  display: flex;
}

@mixin nav__links {
  @include nav__container;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;

  a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: $fontBold;
    color: $textBlack;
  }

  a:nth-child(1) {
    margin-right: 3rem;
  }

  .fab {
    list-style-type: none;
    color: $textBlack;
  }
}

@mixin hover {
  color: $textBlue;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out; //TODO add color to <a> on hover
  curser: pointer;
}

@mixin header_main {
  font-size: 4rem;
  font-weight: $fontBold;
  line-height: 6rem;
}

@mixin header_second {
  font-size: 2.8rem;
  font-weight: $fontBold;
  line-height: 3.8rem;
}

@mixin header_third {
  font-size: 2.2rem;
  font-weight: $fontBold;
  line-height: 2.8rem;
}

@mixin paragraph {
  font-size: 1.6rem;
  font-weight: $fontNormal;
  line-height: 2.6rem;
}

@mixin sect_header {
  font-size: 1.8rem;
  font-weight: $fontLight;
  line-height: 2.3rem;
}

@import "variables";
