// Browser reset
@mixin universal {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@mixin body {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: $textBlack;
  width: 85%;
  height: auto;
  margin: auto;
}

// Layout
@mixin pos-center {
  justify-content: center;
  align-items: center;
}

@mixin flex__container {
  width: 100%;
  display: flex;
}

// Navigation
@mixin nav__links {
  @include flex__container;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;

  a:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: $fontBold;
    color: $textBlack;
  }

  a:nth-child(1) {
    margin-right: 3rem;
  }

  .fab {
    list-style-type: none;
    color: $textBlack;
  }
}

@mixin hover {
  color: $textBlue;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out; //TODO add color to <a> on hover
  curser: pointer;
}

@mixin links {
  width: fit-content;
  margin-left: 10%;
}

// Header
@mixin header_main {
  font-size: 4rem;
  font-weight: $fontBold;
  line-height: 6rem;
}

@mixin box {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

@mixin boxSecondary {
  width: 62rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin header_second {
  font-size: 2.8rem;
  font-weight: $fontBold;
  line-height: 3.8rem;
}

@mixin header_third {
  font-size: 2.2rem;
  font-weight: $fontBold;
  line-height: 2.8rem;
}

@mixin paragraph {
  font-size: 1.6rem;
  font-weight: $fontNormal;
  line-height: 2.6rem;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@mixin sect_header {
  font-size: 1.8rem;
  font-weight: $fontLight;
  line-height: 2.3rem;
}

@mixin sect_title {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: $textBlack;
}

// Table
@mixin table {
  &-box {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 3.5rem;
  }
  &-td {
    @include sect_header;
    @include border;
  }
}

@mixin text_opacity {
  mix-blend-mode: normal;
  opacity: 0.6;
}

@mixin border {
  padding: 1.6rem;
  @include text_opacity;
  border-bottom: 0.1rem solid $borderGray;
}

// Form
@mixin form {
  display: flex;
  flex-direction: column;
  width: 47.5rem;
  height: 29rem;
  justify-content: space-around;
}

@mixin form_text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: $textBlack;
}

@mixin input_field {
  padding: 1.8rem;
  border: none;
  @include border;
  &::placeholder {
    @include form_text;
    @include text_opacity;
  }
}

@mixin submit_btn {
  @include form_text;
  color: $textWhite;
  width: 12.5rem;
  height: 5rem;
  background-color: $textBlue;
  text-align: center;
  border: none;
}

@import "variables";
