@import "mixins";
@import "variables";
// Browser reset
*,
*::after,
*::before {
  @include universal;
}

html {
  font-size: 62.5%;
}

body {
  @include body;
}

// Navigation
.navigation {
  @include nav__container;
}

.navigation__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

// Footer
.footer {
  @include nav__container;
}
.footer__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

.social-links {
  width: fit-content;
  margin-left: 10%;
}
