@import "mixins";
@import "variables";
// Browser reset
*,
*::after,
*::before {
  @include universal;
}

html {
  font-size: 62.5%;
}

body {
  @include body;
}

// Navigation
.navigation {
  @include nav__container;
}

.navigation__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

// Contact header
.header__box {
  @include box;
  margin-top: 0;

  &-primary {
    @include header_main;
    width: 47.5rem;
  }
  &-secondary {
    @include boxSecondary;
  }
  &-paragraph {
    @include paragraph;
    margin-top: 1.4rem;
    width: 44.5rem;
  }
}

// Form
.form__container {
  @include form;
  &-input {
    @include input_field;
  }
  &-btn {
    @include submit_btn;
    margin-top: 3rem;
    &:hover {
      @include hover;
      color: $textWhite;
    }
  }
}

// Image
.img-box {
  display: flex;
  align-items: center;
  height: 80rem;
}

.img-map {
  width: 100%;
}

// Footer
.footer {
  @include nav__container;
}
.footer__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

.social-links {
  @include links;
}
