// Browser reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

// Color variables
$text_color: #111;
$text_blue: #4a4ff2;
