// Browser reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #111;
  width: 85%;
  height: 100vh;
  margin: auto;
}

// Color variables
//text_blue: #4a4ff2;

// Navigation
.navigation {
  width: 100%;
  display: flex;
  margin-top: 6rem;
}

.navigation__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
