// Partial files
@import "project";
@import "contact";
@import "mixins";
@import "variables";

// Browser reset
*,
*::after,
*::before {
  @include universal;
}

html {
  font-size: 62.5%;
}

body {
  @include body;
}

// Navigation
.navigation {
  @include flex__container;
}

.navigation__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

// Header and text content
.header {
  &__tertiary {
    @include header_third;
    letter-spacing: -0.0423077rem;
  }
  span {
    color: $textBlue;
  }
}

.header__box {
  @include box;

  &-primary {
    @include header_main;
    width: 63.5rem;
  }
  &-text {
    @include sect_header;
    @include text_opacity;
    font-style: italic;
    width: 30rem;
    align-self: flex-end;
    justify-self: center;
    &::before {
      content: "";
      display: block;
      width: 3rem;
      border-bottom: 0.2rem solid rgba(17, 17, 17, 0.5);
      margin-bottom: 0.9rem;
    }
  }
}

// Image gallery
.gallery {
  height: 40rem;
}
// Sub heading
.sub__container {
  @include flex__container;
  height: 28rem;
  justify-content: space-between;
  align-items: center;
}

.sub__header-primary {
  @include header_second;
  width: 63rem;
}

.list__container {
  @include flex__container;
  width: 44rem;
  justify-content: space-around;
  align-content: space-evenly;
}

.sub__list {
  @include sect_header;
  list-style-type: none;
  width: 15rem;

  &-media,
  &-design {
    @include text_opacity;
  }

  &-li {
    @include text_opacity;
    margin-top: 1rem;
  }
}

// Award section
.grid__section {
  display: grid;
  grid-template-columns: repeat(4, auto, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}
// Design section

// Footer
.footer {
  @include flex__container;
}
.footer__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

.social-links {
  @include links;
}
