@import "mixins";
@import "variables";
// Browser reset
*,
*::after,
*::before {
  @include universal;
}
html {
  font-size: 62.5%;
}

body {
  @include body;
}

// Navigation
.navigation {
  @include nav__container;
}

.navigation__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

// Header and text content
.header__box {
  @include box;
  margin-top: 0;

  &-primary {
    @include header_main;
    width: 50rem;
  }
  &-secondary {
    @include boxSecondary;
  }
  &-paragraph {
    @include paragraph;
    margin-top: 2.8rem;
  }
}

// Table
.header__table {
  @include table;
}

.bold {
  font-weight: 700; //TODO Specificity wrong color
  color: $textBlack;
}
// Footer
.footer {
  @include nav__container;
}
.footer__links {
  @include nav__links;

  li:hover {
    @include hover;
  }
}

.social-links {
  width: fit-content;
  margin-left: 10%;
}
