@import "mixins";
@import "variables";

// Browser reset
*,
*::after,
*::before {
  @include universal;
}
html {
  font-size: 62.5%;
}

body {
  @include body;
}

// Navigation
.navigation {
  @include flex__container;
}

.navigation__links {
  @include nav__links;

  li:hover {
    @include hover;
    border-bottom: 0.2rem solid $textBlue;
  }
}

// Project header
.header__box {
  @include box;
  margin-top: 0;

  &-primary {
    @include header_main;
    width: 50rem;
  }
  &-secondary {
    @include boxSecondary;
  }
  &-paragraph {
    @include paragraph;
    width: 63.5rem;
    margin-top: 2.8rem;
  }
}

// Table
.header__table {
  @include table;
}

.bold {
  font-weight: $fontBold; //TODO Specificity wrong color
  color: $textBlack;
}

// Project hero image
.project__hero-image {
  @include flex__container;
  height: 76.6rem;
  @include pos-center;
}

.text__container-paragraph {
  @include paragraph;
}

// Image section
.image__section {
  @include flex__container;
  @include pos-center;
  height: 57.2rem;
}

.image__container {
  @include flex__container;
  justify-content: space-around;
  height: 40rem;
}

// Footer
.footer {
  @include flex__container;
}
.footer__links {
  @include nav__links;

  li:hover {
    @include hover;
    border-bottom: 0.2rem solid $textBlue;
  }
}

.social-links {
  @include links;
}
